
.icon-wrench-outline:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-spin1:before { content: '\e803'; } /* '' */
.icon-spin2:before { content: '\e804'; } /* '' */
.icon-spin3:before { content: '\e805'; } /* '' */
.icon-spin6:before { content: '\e806'; } /* '' */
.icon-gauge:before { content: '\e807'; } /* '' */
.icon-wrench-1:before { content: '\e808'; } /* '' */
.icon-wrench-circled:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-leaf:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-share:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */